* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.item-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  aspect-ratio: 1/2;
  border: 1px solid coral;
  object-fit: cover;
}
.item-container img {
  margin-bottom: 0.5rem;
  border: 3px solid red;
  aspect-ratio: 3/4;
  object-fit: contain;
}
.item-container .desciption {
  padding: 24px;
  flex: 1;
  overflow-x: hidden;
}
.item-container .price {
  padding: 0.5rem;
  font-size: 24px;
}
.item-container .desciption::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .slider{
    flex-direction: column;
    gap:  0px;
  }
  .item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
.item-container{
  margin-top: 5%;
  width: 90%;
  padding: 0px;
}
}