.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ececec;
  opacity: 0.8;
  background-image: radial-gradient(#ff6666 0.5px, transparent 0.5px),
    radial-gradient(#ff6666 0.5px, #ececec 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  text-align: center;
}
.picker {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 40%;
  background-color: lightblue;
}
.picker label {
  font-size: 2rem;
}
.picker select {
  font-size: 1.5rem;
}
.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer-container .selected-color-text,
.correct-answer {
  font-size: 2rem;
}
.colored {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  color: white;
  transition: 1000ms ease;
}